recipes_file = "recipes.txt"
reports_path = "reports"
munki_repo= "/Users/Shared/munki_repo"
# Number of concurrent AutoPKG processes allowed
max_processes=8
# How often to check for new recipes
autopkg_check_interval=300
# Should autopkg process time out if a recipe takes to long?
autopkg_exec_timeout=3600

[slack]
webhook_url = "https://hooks.slack.com/services/..."
channel = "#munki"
username = "autopkg"
icon_url = "https://slack.com/img/icons/app-57.png"
